### Installation

In [17]:
# pip install world-bank-data
# pip install world_bank_data --upgrade
# https://pypi.org/project/world-bank-data/ (All the thing are here)
# https://data.worldbank.org/products/third-party-apps (Third Party Apps)

### topics, sources, countries, regions, incomelevels, lendingtypes, indicators, search, language

In [ ]:
# import pandas as pd
# import world_bank_data as wb
# pd.set_option('display.max_rows', 6)
# wb.get_topics()
# wb.get_sources()
# wb.get_countries()
# wb.get_regions()
# wb.get_incomelevels
# wb.get_lendingtypes()
# wb.get_indicators()
# wb.search_countries()
# wb.get_series('SP.POP.TOTL', date='2016', id_or_value='id', simplify_index=True)
# wb.options.language = "en"

In [2]:
import pandas as pd
import world_bank_data as wb
pd.set_option('display.max_rows', 6)

In [3]:
wb.get_topics()

,value,sourceNote
id,,
1,Agriculture & Rural Development,For the 70 percent of the world's poor who liv...
2,Aid Effectiveness,Aid effectiveness is the impact that aid has i...
3,Economy & Growth,Economic growth is central to economic develop...
...,...,...
19,Climate Change,Climate change is expected to hit developing c...
20,External Debt,Debt statistics provide a detailed picture of ...
21,Trade,Trade is a key means to fight poverty and achi...

In [4]:
wb.get_sources()

,lastupdated,name,code,description,url,dataavailability,metadataavailability,concepts
id,,,,,,,,
1,2021-08-18,Doing Business,DBS,,,Y,Y,3
2,2022-07-20,World Development Indicators,WDI,,,Y,Y,3
3,2021-09-27,Worldwide Governance Indicators,WGI,,,Y,Y,3
...,...,...,...,...,...,...,...,...
86,2021-09-24,Global Jobs Indicators Database (JOIN),JON,,,Y,Y,3
87,2022-06-10,Country Climate and Development Report (CCDR),CCD,,,Y,Y,3
88,2022-07-05,Food Prices for Nutrition,FPN,,,Y,Y,4

In [5]:
wb.get_countries()

,iso2Code,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
id,,,,,,,,,
ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.5167
AFE,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,NaN,NaN
AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.5228
...,...,...,...,...,...,...,...,...,...
ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.7460
ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Low income,IDA,Lusaka,28.2937,-15.3982
ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.8312

In [7]:
wb.get_regions()

   code iso2code                                               name
id
    AFE       ZH                        Africa Eastern and Southern
    AFR       A9                                             Africa
    AFW       ZI                         Africa Western and Central
..  ...      ...                                                ...
    SXZ       A4          Sub-Saharan Africa excluding South Africa
    WLD       1W                                              World
    XZN       A5  Sub-Saharan Africa excluding South Africa and ...

[44 rows x 3 columns]

In [8]:
wb.get_incomelevels()

    iso2code                value
id
HIC       XD          High income
INX       XY       Not classified
LIC       XM           Low income
..       ...                  ...
LMY       XO  Low & middle income
MIC       XP        Middle income
UMC       XT  Upper middle income

[7 rows x 2 columns]

In [9]:
wb.get_lendingtypes()

    iso2code           value
id
IBD       XF            IBRD
IDB       XH           Blend
IDX       XI             IDA
LNX       XX  Not classified

In [10]:
wb.get_indicators()

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
1.0.HCount.1.90usd,Poverty Headcount ($1.90 a day),,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
1.0.HCount.2.5usd,Poverty Headcount ($2.50 a day),,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
1.0.HCount.Mid10to50,Middle Class ($10-50 a day) Headcount,,LAC Equity Lab,The poverty headcount index measures the propo...,LAC Equity Lab tabulations of SEDLAC (CEDLAS a...,Poverty
...,...,...,...,...,...,...
WP15163_4.9,"Mobile account, income, richest 60% (% ages 15+)",,WDI Database Archives,Mobile account denotes the percentage of respo...,"Demirguc-Kunt et al., 2015, Global Financial I...",Financial Sector
wpremia_F,Wage Premia for Females (the ratio of skilled ...,,Gender Disaggregated Labor Database (GDLD),,,
wpremia_M,Wage Premia for Males (the ratio of skilled m...,,Gender Disaggregated Labor Database (GDLD),,,

In [13]:
wb.get_indicators(topic=3, source=2)
# topic and source id are from get_topics/get_sources

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
BG.GSR.NFSV.GD.ZS,Trade in services (% of GDP),,World Development Indicators,Trade in services is the sum of service export...,"International Monetary Fund, Balance of Paymen...","Economy & Growth,Private Sector,Trade"
BM.GSR.CMCP.ZS,"Communications, computer, etc. (% of service i...",,World Development Indicators,"Communications, computer, information, and oth...","International Monetary Fund, Balance of Paymen...","Economy & Growth,Trade"
BM.GSR.FCTY.CD,"Primary income payments (BoP, current US$)",,World Development Indicators,Primary income payments refer to employee comp...,"International Monetary Fund, Balance of Paymen...",Economy & Growth
...,...,...,...,...,...,...
PA.NUS.PPP,"PPP conversion factor, GDP (LCU per internatio...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PPPC.RF,Price level ratio of PPP conversion factor (GD...,,World Development Indicators,Price level ratio is the ratio of a purchasing...,"International Comparison Program, World Bank |...",Economy & Growth
PA.NUS.PRVT.PP,"PPP conversion factor, private consumption (LC...",,World Development Indicators,Purchasing power parity (PPP) conversion facto...,"International Comparison Program, World Bank |...",Economy & Growth

In [14]:
wb.search_indicators('mathematics')
# wb.search_countries('mathematics')
# wb.search_source('mathematics')

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
2.0.cov.Math.pl_2.all,Coverage: Mathematics Proficiency Level 2,,LAC Equity Lab,The coverage rate is the childhood access rate...,LAC Equity Lab tabulations using PISA Data.,Poverty
2.0.cov.Math.pl_2.prv,"Coverage: Mathematics Proficiency Level 2, Pri...",,LAC Equity Lab,The coverage rate is the childhood access rate...,LAC Equity Lab tabulations using PISA Data.,Poverty
2.0.cov.Math.pl_2.pub,"Coverage: Mathematics Proficiency Level 2, Pub...",,LAC Equity Lab,The coverage rate is the childhood access rate...,LAC Equity Lab tabulations using PISA Data.,Poverty
...,...,...,...,...,...,...
UIS.MATH.PRIMARY.RURAL,Proportion of students at the end of primary e...,,Education Statistics,,,
UIS.MATH.PRIMARY.URBAN,Proportion of students at the end of primary e...,,Education Statistics,,,
UIS.MATH.PRIMARY.WPIA,Proportion of students at the end of primary a...,,Education Statistics,,,

In [ ]:
# wb.get_series('SP.POP.TOTL', mrv=1)
    # The result above has a 3-dimensional index.
    # Use the argument simplify_index
    # to ignore the dimensions that take a single value (here: year and series).
    # Also, use the argument id_or_value='id'
    # if you prefer your data to be indexed by the codes rather than labels:
# wb.get_series('SP.POP.TOTL', date='2016', id_or_value='id', simplify_index=True)
    # mrv, integer: one or more most recent values
    # date, string: either one year, or two years separated with a colon, like '2010:2018'
    # gapfill, string: 'Y' or 'N' (the default): forward fills missing values.

In [16]:
# Country and indicator description in non-English languages
wb.options.language = 'en'
wb.get_indicators('SP.POP.TOTL')

,name,unit,source,sourceNote,sourceOrganization,topics
id,,,,,,
SP.POP.TOTL,"Population, total",,World Development Indicators,Total population is based on the de facto defi...,(1) United Nations Population Division. World ...,"Climate Change,Health"